#container {
    width: 936px;
    display: flex;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
    border: 2px solid #000000;
}

#left {
    width: 240px;
    background-color: #f2f2f2;
    height: 335px;
    border: 2px solid #000000;
    overflow: hidden;
}

#middle {
    width: 568px;
    height: 338px;
    background-color: #00006a;
    padding: 36px;
    box-sizing: border-box;
    border: 2px solid #000000;
    position: relative;
}

#right {
    width:128px;
    height: 335px;
    background-color: #00006a;
    border: 2px solid #000000;
}


#clock {
    height: 196px;
    position: relative;
    top: 20px;
    left: 20px;
}


#screen {
    width: 492px;
    height: 265px;
    background-color: #ffffff;
    border: 2px solid #000000;
}

#screen_header {
    width: 492px;
    height: 40px;
    padding: 4px;
    box-sizing: border-box;
    color: #00006a;
    font-weight: bold;
}

#screen_header_left {
    width: 45%;
    float: left;
    text-align: left;
    font-size: 32px;
}

#screen_header_right {
    width: 55%;
    float: right;
    text-align: right;
    font-size: 32px;
}

#screen_body {
    width: 492px;
    height: 200px;
    color: #00006a;
    font-weight: bold;
}

#screen_body_top {
    font-size: 36px;
    padding: 4px;
    box-sizing: border-box;
    position: absolute;
}

#screen_body_bottom {
    font-size: 24px;
    top: 136px;
    width: 492px;
    padding: 4px;
    box-sizing: border-box;
    position: absolute;
}

#screen_footer {
    width: 492px;
    height: 25px;
    background-color: #000080;
    padding: 4px;
    box-sizing: border-box;
    color: #ffffff;
    font-size: 16px;
    font-weight: bold;
}


#spoor {
    background-color: #f2f2f2;
    width: 96px;
    height: 96px;
    margin: 36px 16px;
}

#spoor_top {
    width: 96px;
    height: 20px;
}

#spoor_corner {
    background-color: #00006a;
    width: 20px;
    height: 20px;
    float: left;
}

#spoor_text {
    width: 76px;
    height: 20px;
    float: right;
    padding: 4px;
    box-sizing: border-box;
    font-size: 12px;
    font-weight: bold;
    color: #00006a;
}

#spoor_number {
    font-size: 64px;
    font-weight: bold;
    color: #00006a;
    text-align: center;
    margin: 6px auto;
}


.oh_no {
    color: #ff0000;
}


#klok {
    position: relative;
    width: 196px;
    height: 196px;
    border-radius: 50%;
    background: #fff;
    box-shadow: inset 0 2.5px 25px rgba(0,0,0,0.3), inset 0 0 51px 51px rgba(0,0,200,0.05);
  
    opacity: 0;
    transition: all 0.2s;

    margin: 16px auto;
  }

  body.loaded #klok {
    opacity: 1;
  }
  
    #wijzer-uur,
    #wijzer-min,
    #wijzer-sec {
      position: absolute;
      z-index: 3;
      top: 50%;
      left: 50%;
      margin-left: -3.8px;
      width: 7.6px;
    }
  
    body.loaded #wijzer-uur,
    body.loaded #wijzer-min,
    body.loaded #wijzer-sec {
      transition: transform 1s;
    }
  
    #wijzer-uur,
    #wijzer-min {
      background: #00006a;
      border-radius: 0 0 3.8px 3.8px;
    }
  
    #wijzer-uur,
    #wijzer-min,
    #wijzer-sec .line,
    #wijzer-sec .circle {
      box-shadow: -25px 13px 25px rgba(0,0,0,0.1);
    }
  
    #wijzer-uur {
      margin-top: -13px;
      height: 76px;
  
      transform-origin: 3.8px 13px;
    }
  
    #wijzer-min {
      margin-top: -25px;
      height: 109px;
  
      transform-origin: 3.8px 25px;
    }
  
    #wijzer-sec {
      margin-top: -13px;
      height: 102px;
  
      transform-origin: 3.8px 13px;
  
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
    }
      #wijzer-sec:before {
        content: "";
        position: absolute;
        top: 10px;
        width: 5px;
        height: 5px;
        background: #990000;
        border-radius: 5px;
      }
      #wijzer-sec .line {
        background: #990000;
        width: 2.5px;
        height: 38px;
      }
      #wijzer-sec .line:first-child {
        height: 51px;
      }
      #wijzer-sec .line:last-child {
        height: 25px;
        border-bottom-left-radius: 255px;
        border-bottom-right-radius: 255px;
      }
      #wijzer-sec .circle {
        border: 2.5px solid #990000;
        border-radius: 50%;
        width: 10px;
        height: 10px;
      }
  
    #minuten {
      position: relative;
      z-index: 2;
      width: 100%;
      height: 100%;
    }
      #minuten .minuut {
        position: absolute;
        top: 50%;
        left: 50%;
        margin-left: -7.6px;
        margin-top: -1.3px;
        width: 15px;
        height: 3.8px;
  
        display: flex;
        align-items: center;
        justify-content: flex-end;
      }
      #minuten .minuut:before {
        content: "";
        display: block;
        background: #00006a;
        width: 2.5px;
        height: 2.5px;
        border-radius: 7.6px
      }
      #minuten .minuut:nth-child(5n+1):before {
        width: 15px;
        height: 7.6px;
      }